Source: ros-jade-pr2-head-action
Section: misc
Priority: extra
Maintainer: Devon Ash <dash@clearpathrobotics.com>
Build-Depends: debhelper (>= 9.0.0), ros-jade-actionlib, ros-jade-catkin, ros-jade-geometry-msgs, ros-jade-kdl-parser, ros-jade-message-filters, ros-jade-orocos-kdl, ros-jade-pr2-controllers-msgs, ros-jade-roscpp, ros-jade-sensor-msgs, ros-jade-tf, ros-jade-tf-conversions, ros-jade-trajectory-msgs
Homepage: http://ros.org/wiki/pr2_head_action
Standards-Version: 3.9.2

Package: ros-jade-pr2-head-action
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-jade-actionlib, ros-jade-geometry-msgs, ros-jade-kdl-parser, ros-jade-message-filters, ros-jade-orocos-kdl, ros-jade-pr2-controllers-msgs, ros-jade-roscpp, ros-jade-sensor-msgs, ros-jade-tf, ros-jade-tf-conversions, ros-jade-trajectory-msgs
Description: The PR2 head action is a node that provides an action interface for pointing the head of the PR2. It passes trajectory goals to the controller, and reports success when they have finished executing.
